@font-face{
    font-family: "Supercell-Magic";
    src: url('../data/Supercell-Magic\ Regular.ttf') format('trueType');
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../img/logo.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(12px);
    -webkit-filter: blur(12px);
    z-index: -1;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Supercell-Magic", sans-serif;
    color:white;
}

a {
    text-decoration: none;
    padding: 0 15px;
    font-size: 20px;
    font-weight: bold;;
    
}

.menu a:not(:last-child) {
    border-right: 8px solid white;
}

#menu{
    text-align: center;
    margin-top: 15px;
}

.welcome {
    text-align: center;
    margin-top: 15%;
    font-size: 35px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

#line2 {
    font-size: 25px;
    color: lightslategray;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

.name {
    text-align: center;
    margin-top: 15%;
    font-size: 35px;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}

.about {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}

.mainrsn {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 2px;
}